
.estiloNuevo{
    color:red;
}
.title-style{
    color:rgb(58, 147, 206)
}
footer{
    background-color: darkblue;
    color: white;
    text-align: center;
}
.estilo{
    width: 1000px;
    position: relative;
}
.title{
    position: absolute;
    top: 120px;
    left: 180px;
    color: white;
}
.meta{
    font-size: small;
}
.logo {
    display: flex;
    padding-bottom: 50px;
}
.logo h1 {
    padding-top: 50px; 
    padding-left: 30px;
}

.container{
    margin-left: 10px
}
.col{
    margin-left: 50px   
}
.body{
   
    width: auto;
    margin-left: 120px;
}
.Promociones{
    display: flex;
    padding: 20px;
}
.Promociones1{
    margin-top: 20px;
}
.home-model-p p{
    
    height: 150px;
}

